<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Član hitne službe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Član hitne službe</h1>

    <!-- Tablica s intervencijama koje čekaju izvještaj -->
    <h2 class="mb-3">Intervencije koje čekaju izvještaj</h2>
    <input type="hidden" id="username" th:value="${user}">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>PID</th>
            <th>Date</th>
            <th>Opis intervencije</th>
            <th>Vozilo</th>
            <th>Akcija</th>
        </tr>
        </thead>
        <tbody id="table1-body">
        <!-- Ovdje će se dinamički generirati redovi tablice -->
        </tbody>
    </table>

    <h2 class="mb-3">Izvještaji koje trebate ispuniti</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>PID</th>
            <th>Date</th>
            <th>Opis intervencije</th>
            <th>Vozilo</th>
            <th>Akcija</th>
        </tr>
        </thead>
        <tbody id="table2-body">
        <!-- Ovdje će se dinamički generirati redovi tablice -->
        </tbody>
    </table>

    <div class="container mt-5">
        <h2 class="mb-3">BPMN Dijagram</h2>
        <img th:src="@{http://localhost:8080/images/intervencija.png}" alt="model" style="max-width: 100%; height: auto;">
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Funkcija za dohvat intervencija koje čekaju izvještaj
        function loadTasksWaitingForReport() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var processInstances = JSON.parse(xhr.responseText);
                    var tableBody = document.getElementById('table1-body');
                    tableBody.innerHTML = '';
                    console.log(processInstances)
                    processInstances.forEach(function (processInstance) {
                        addRowToTable(processInstance, tableBody);
                    });
                } else if (xhr.readyState === 4) {
                    console.error('Error fetching data:', xhr.status);
                }
            };

            xhr.open('GET', 'http://localhost:8080/engine-rest/event-subscription?eventName=ClanSeJavio', true);
            xhr.send();
        }

        function loadTasks() {
            var username = document.getElementById("username").value;
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    var tableBody = document.getElementById('table2-body');
                    tableBody.innerHTML = ''; // Očisti sadržaj tablice
                    console.log(data);
                    data.forEach(function (task) {
                        console.log(task);
                        if (task.name === 'Popuni izvjestaj') {
                            getVariable(task.processInstanceId, 'userIzvjestaj', function(value) {
                                if (value === username) {
                                    var row = document.createElement('tr');
                                    row.innerHTML = `
                                <td>${task.processInstanceId}</td>
                                <td>${task.created}</td>
                                <td><span id="opis-${task.processInstanceId}">Loading...</span></td>
                                <td><span id="vozilo-${task.processInstanceId}">Loading...</span></td>
                                <td>
                                    <a href="${username}/showTask/${task.id}" class="btn btn-primary btn-sm">Ispuni izvjestaj</a>
                                </td>
                            `;
                                    tableBody.appendChild(row);
                                    console.log("tu sam");
                                    getVariable(task.processInstanceId, 'opisIntervencije', function(value) {
                                        document.getElementById(`opis-${task.processInstanceId}`).textContent = value || 'N/A';
                                    });
                                    getVariable(task.processInstanceId, 'vozilo', function(value) {
                                        document.getElementById(`vozilo-${task.processInstanceId}`).textContent = value || 'N/A';
                                    });
                                }
                            });
                        }
                    });
                } else if (xhr.readyState === 4) {
                    console.error('Error fetching data:', xhr.status);
                }
            };

            xhr.open('GET', 'http://localhost:8080/engine-rest/task?name=Popuni%20Izvjestaj', true);
            xhr.send();
        }

        function getVariable(taskId, variableName, callback) {
            var xhr = new XMLHttpRequest();
            var url = `http://localhost:8080/engine-rest/process-instance/${taskId}/variables/${variableName}`;
            console.log(variableName);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var variable = JSON.parse(xhr.responseText);
                    console.log(variable)
                    callback(variable.value);
                } else if (xhr.readyState === 4) {
                    console.error(`Error fetching variable ${variableName} for task ${taskId}:`, xhr.status);
                    callback(null);  // Call the callback with null to indicate failure
                }
            };

            xhr.open('GET', url, true);
            xhr.send();
        }

        function addRowToTable(processInstance, tableBody) {
            // Hardkodirani redovi za "opisIntervencije" i "vozilo"
            var hardcodedOpisIntervencije = 'Primjer opisa intervencije';
            var hardcodedVozilo = 'Primjer vozila';

            // Dodaj red u tablicu s informacijama o procesu i hardkodiranim varijablama
            console.log(processInstance);
            var row = document.createElement('tr');
            row.innerHTML = `
            <td>${processInstance.processInstanceId}</td>
            <td>${new Date(processInstance.createdDate).toLocaleString()}</td>
            <td><span id="opis2-${processInstance.processInstanceId}">Loading...</span></td>
            <td><span id="vozilo2-${processInstance.processInstanceId}">Loading...</span></td>
            <td><button class="btn btn-primary" onclick="sendMessage('${processInstance.processInstanceId}')">Preuzmi ispunjavanje izvještaja</button></td>
        `;
            tableBody.appendChild(row);
            getVariable(processInstance.processInstanceId, 'opisIntervencije', function(value) {
                document.getElementById(`opis2-${processInstance.processInstanceId}`).textContent = value || 'N/A';
            });
            getVariable(processInstance.processInstanceId, 'vozilo', function(value) {
                document.getElementById(`vozilo2-${processInstance.processInstanceId}`).textContent = value || 'N/A';
            });
        }

        window.sendMessage = function(processId) {
            var username = document.getElementById("username").value;
            var xhr = new XMLHttpRequest();
            console.log(processId);
            console.log(username);
            var url = 'http://localhost:8080/engine-rest/process-instance/message-async';
            var payload = {
                "messageName": "ClanSeJavio",
                "processInstanceIds": [processId],
                "variables": {
                    "userIzvjestaj": {
                        "value": username
                    }
                }
            };

            payload = JSON.stringify(payload);

            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 204) {
                    console.log('Poruka poslana za proces s ID: ' + processId);
                } else if (xhr.readyState === 4) {
                    console.error('Greška prilikom slanja poruke:', xhr.status, xhr.statusText);
                }
            };
            xhr.send(payload);
        }

        loadTasksWaitingForReport();
        loadTasks();

        setInterval(function () {
            loadTasksWaitingForReport();
            loadTasks();
        }, 60000);
    });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
